In [4]:
import pandas as pd
from sklearn.model_selection import train_test_split

In [5]:
df=pd.read_csv(r"C:\Users\hkoli\Downloads\diabetes.csv")

In [6]:
df.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

In [7]:
train_df,test_df=train_test_split(df,test_size=0.25,random_state=40)

In [8]:
train_df

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
563,6,99,60,19,54,26.9,0.497,32,0
739,1,102,74,0,0,39.5,0.293,42,1
554,1,84,64,23,115,36.9,0.471,28,0
720,4,83,86,19,0,29.3,0.317,34,0
652,5,123,74,40,77,34.1,0.269,28,0
...,...,...,...,...,...,...,...,...,...
440,0,189,104,25,0,34.3,0.435,41,1
165,6,104,74,18,156,29.9,0.722,41,1
7,10,115,0,0,0,35.3,0.134,29,0
219,5,112,66,0,0,37.8,0.261,41,1
326,1,122,64,32,156,35.1,0.692,30,1

In [9]:
test_df

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
370,3,173,82,48,465,38.4,2.137,25,1
388,5,144,82,26,285,32.0,0.452,58,1
611,3,174,58,22,194,32.9,0.593,36,1
550,1,116,70,28,0,27.4,0.204,21,0
232,1,79,80,25,37,25.4,0.583,22,0
...,...,...,...,...,...,...,...,...,...
486,1,139,62,41,480,40.7,0.536,21,0
598,1,173,74,0,0,36.8,0.088,38,1
118,4,97,60,23,0,28.2,0.443,22,0
143,10,108,66,0,0,32.4,0.272,42,1
199,4,148,60,27,318,30.9,0.150,29,1